*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header{
    background-color: dodgerblue;
    border-bottom: 3px solid tomato;
}

footer{
    background-color: dodgerblue;
    border-top: 3px solid tomato;
    text-align: center;
}
